*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.headerComponent{
    height: 90px;
    background: yellowgreen;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: 20px;
}

.mainpage{
    padding: 30px;
    width: 100vw;
    /* height: 75vh; */
    height: calc(100vh-70px);
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.singletodo{
    margin: 10px;
    padding: 25px;
    border: 1px solid rgb(0, 0, 0);
    width: 18%;
    height: max-content;
    
}
.plusbtn{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(243, 13, 13); 
    cursor: pointer;
}

 
.create_todo{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(244, 221, 221); 
    width: 500px;
    /* margin: auto; */
    text-align: center;  
    border-radius: 3px;
    background: white;
    box-shadow:  25px 25px 11px #7e7da1,
                 -25px -25px 11px #ffffff;
}

.create_todo ul li{
    list-style: none;
    margin: 10px;
}

.create_todo li .Textarea{
    width:450px;
}

.create_todo li .allBtn{
    width:150px;
}

.allBtn{
    background: linear-gradient(145deg, white);
    box-shadow:  125px 125px1 11px #7e7da1,
             -125px -125px 111px #ffffff;
}

.btncontainer{
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.footerComponent{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0);
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: red;
}