*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.headerComponent{
    height: 90px;
    background: yellowgreen;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.plusbtn{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(243, 13, 13); 
}




.footerComponent{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0);
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: red;
}